# Игнорирование node_modules
node_modules/

# Игнорирование папки с собранными файлами (если не хотите загружать их)
dist/

# Игнорирование временных файлов системы
.DS_Store
Thumbs.db

# Игнорирование локальных конфигурационных файлов
*.env
*.log
.idea/
.vscode/

